<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.playground.dao.TweetDao">
    <select id="findAll" resultType="com.example.playground.entity.Tweet">
        select *
        from tweet
        where is_alive = 1;
    </select>

    <insert id="addTweet"
            parameterType="com.example.playground.entity.Tweet"
            useGeneratedKeys="true" keyProperty="tid">
        insert into tweet(uid, time, type, text)
        values (#{uid}, #{time}, #{type}, #{text});
    </insert>

    <!--查询帖子是否存在，并且未被删除-->
    <select id="existByTid" resultType="boolean" parameterType="integer">
        select (select count(tid) from tweet where tid = #{tid} and is_alive = 1) > 0;
    </select>

    <select id="findAllTweetByUid" resultType="com.example.playground.entity.Tweet"
            parameterType="integer">
        select *
        from tweet
        where uid = #{uid};
    </select>

    <select id="findAliveTweetByUid" resultType="com.example.playground.entity.Tweet"
            parameterType="integer">
        select *
        from tweet
        where uid = #{uid}
          and is_alive = 1;
    </select>
</mapper>