<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.playground.dao.TweetDao">
    <select id="findAll" resultType="com.example.playground.entity.Tweet">
        select *
        from tweet;
    </select>
</mapper>