<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.playground.dao.TweetDao">
    <select id="findAll" resultType="com.example.playground.entity.Tweet">
        select *
        from tweet;
    </select>

    <insert id="addTweet"
            parameterType="com.example.playground.entity.Tweet"
            useGeneratedKeys="true" keyProperty="tid">
        insert into tweet(uid, time, type, text)
        values (#{uid}, #{time}, #{type}, #{text});
    </insert>
</mapper>