<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chat.dao.ChatDao">
    <select id="findAllChat" resultType="com.example.chat.entity.Chat">
        select * from school_circle.chat;
    </select>

    <select id="findByUid2" resultType="com.example.chat.entity.Chat" parameterType="com.example.chat.entity.query.ChatQuery">
        select *
        from school_circle.chat
        <where>
            <if test="uid_from !=0">
                and uid_from=#{uid_from}
            </if>
            <if test="uid_to != 0">
                and uid_to=#{uid_to}
            </if>
        </where>
        ;
    </select>


</mapper>